cachetools==3.1.1
certifi==2021.10.8
chardet==4.0.0
enum34==1.1.10
futures==3.4.0
google-api-core==1.32.0
google-auth==1.35.0
google-cloud-core==1.7.3
google-cloud-datastore==1.15.5
google-cloud-ndb==1.11.2
googleapis-common-protos==1.52.0
grpcio==1.39.0
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
Paste==3.5.3
protobuf==3.17.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pymemcache==3.5.2
pyparsing==2.4.7
pytz==2023.3
redis==3.5.3
requests==2.27.1
rsa==4.5
six==1.16.0
urllib3==1.26.15
webapp2==2.5.2
WebOb==1.1.1